header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    background: #fff;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.headerBody{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
    padding: 15px;
}

.headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    text-decoration: none;
    width: 100%;
}

.headerLogo p{
    font-size: 26px;
    color: #A19467;
}

.headerLogoImg img{
    height: 70px;
}

.headerLogoText{
    margin-left: 15px;
}

.headerLogoText h2{
    color: #48516D;
    font-size: 22px;
}

.headerLogoText p{
    color: #fff;
    font-weight: unset;
    font-size: 14px;
}

.headerBurger{
    display: none;
}

.headerList{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.headerList li{
    list-style: none;
    margin: 0 40px;
}

.headerLink{
    border-bottom: 1px solid none;
    padding: 0 0 5px;
}

.headerLink, .subLink{
    color: #A19467;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s ease 0s;
}

.headerLink:hover{
    color: #48516D;
    transition: all 0.5s ease 0s;
    border-bottom: 1px solid #A19467;
}

.headerList li{
    position: relative;
}

.subMenu{
    display: none;
    position: absolute;
    left: 0;
    width: 320px;
}

.headerList li:hover .subMenu{
    display: block;
}

.subMenuContent {
    padding: 0px;
    background: #fff;
    padding: 5px 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    margin-top: 10px;
}

.subLink{
    display: block;
    padding: 0;
    color: #333;
    width: 100%;
    margin: 15px 0;
}

.subLink:hover{
    color: #48516D;
}



.headerHidden{
    margin-left: 25px;
    font-size: 16px;
    z-index: 9999;
}

.scrolled{
    transition: .4s;
}
  

.btnHeader{
    display: inline-block;
    padding: 14px 28px;
    background: linear-gradient(45deg, #141720, #272B37);
    color: #fff;
    border-radius: 100px;
}

.btnHeader svg{
    margin-right: 5px;
}

.headerSocial{
    z-index: 9;
}

.headerSocial a{
    margin-right: 10px;
}

.headerSocial a img{
    width: 20px;
}

/* Адаптация меню для мобильные устройства */


@media(max-width: 960px){
    .headerTop{
        padding: 5px 0;
    }
    .headerTop a{
        margin-right: 20px;
        font-size: 12px;
    }
    
    .headerTop a:hover{
        text-decoration: none;
    }

    body.lock{
        overflow: hidden;
    }

    .container{
        width: 95%;
    }

    .headerBody{
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding: 5px 0;
    }

    .headerLogo{
        width: auto;
    }

    .headerLogo p{

    }

    .headerLogoText{
        margin-left: 15px;
    }

    .headerLogoText h2{
        font-size: 20px;
    }

    .headerLogoText p{
        font-size: 12px;
    }

    .headerBurger{
        display: block;
        position: relative;
        width: 34px;
        height: 22px;
        z-index: 3;
    }

    .headerBurger span{
        background: #A19467;
        position: absolute;
        left: 0;
        top: 9px;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        transition: all 0.5s ease 0s;
    }

    .headerBurger::before, 
    .headerBurger::after{
        content: '';
        background: #A19467;
        position: absolute;
        transition: all 0.5s ease 0s;
        height: 4px;
        width: 100%;
        border-radius: 4px;
    }

    .headerBurger::before{
        top: 0;
        left: 0;
    }

    .headerBurger::after{
        bottom: 0;
        right: 0;
    }
    
    .headerBurger.active::before{
        width: 0px;
        left: 50%;
        transition: all 0.2s ease 0s;
    }

    .headerBurger.active::after{
        transition: all 0.2s ease 0s;
        right: 50%;
        width: 0px;
    }

    .headerBurger.active span:nth-child(1){
        transition: all 0.5s ease 0s;
        transform: rotate(45deg);
        background: #A19467;
    }

    .headerBurger.active span:nth-child(2){
        transition: all 0.5s ease 0s;
        background: #A19467;
        transform: rotate(-45deg);
    }
   
    .headerMenu{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -200%;
        top: 80px;
        width: 100%;
        height: 100vh;
        transition: all 1s ease 0s;
    }

    .headerMenu.active{
        transition: all 0.8s ease 0s;
        top: 80px;
        right: 0;
        height: 100vh;
    }

    .headerList{
        display: block;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        background: #fff;
        width: 100%;
        /* height: calc(100% - 100px); */
        height: 100%;
        padding: 30px 0 0 0;
        
    }

    .headerList li{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 15px 0;
    }

    .headerList li a{
        font-size: 16px;
        width: 100%;
    }

    
    .headerList li a:hover{
        color: #fff;
    }

    .subMenu{
        position: relative;
        display: none;
        width: 100%;
    }

    .headerList li:hover .subMenu{
        display: none;
    }

    .subMenuContent{
        background: none;
        box-shadow: none;
    }

    .subMenuContent li a{
        color: #fff;
        margin: 2px 0;
    }

    .headerHidden{
        display: none !important;
    }
}